@import '~modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Segoe-UI';
  src: url('../../assets/font/Segoe UI.ttf');
}
@font-face {
  font-family: 'Segoe-UI-Bold';
  src: url('../../assets/font/Segoe UI Bold.ttf');
}
@font-face {
  font-family: 'Segoe-UI-Italic';
  src: url('../../assets/font/Segoe UI Italic.ttf');
}
@font-face {
  font-family: 'Segoe-UI-Bold-Italic';
  src: url('../../assets/font/Segoe UI Bold Italic.ttf');
}

body {
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  background: #1f1f1f;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clean-background {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid var(--windowFrame);
  z-index: -1;
}

.clean-container {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.clean-toolbar {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 12px;
  position: absolute;
  left: 0;
  top: 0;
}

.clean-toolbar button {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  aspect-ratio: 1 / 1;
  opacity: 0.9;
}

.clean-toolbar button:hover {
  opacity: 1;
}

.clean-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clean-head {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
}

.clean-subtitle {
  padding: 0px 8px;
}

.clean-subtitle span {
  font-size: 14px;
  color: var(--menuHighlight);
}

.clean-subtitle p {
  color: var(--tdShadow);
  font-size: 12px;
  margin: 6px 0;
  line-height: 140%;
}

.clean-headline {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.clean-headline h1 {
  margin: 0;
  font-weight: 400;
  font-size: 28px;
  color: var(--highlightText);
}

.clean-activate-mode {
  height: 64px;
  width: 85px;
  background-color: #4c4c4c;
  border: 0;
  padding: 10px 6px 6px 6px;
  color: var(--highlightText);
  font-weight: 400;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clean-activate-mode:hover {
  outline: 0.1px var(--tdShadow) solid;
}

.clean-activate-mode:active {
  transform: scale(0.98);
  background-color: var(--tdShadow) !important;
  outline: 0.1px var(--tdShadow) solid;
}

.clean-activate-mode.active {
  background-color: var(--hotlight);
}

@keyframes show {
  from {
    opacity: 0;
    height: 90%;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }
}
@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}
